
/*.gallery {
    display: inline-block;
    margin-top: 20px;
}*/

ul li {
  text-decoration: none;
  list-style-type: none;
  
}

.gallery-page-header {
  left: 38px;
  padding: 4px 4px 10px 0px;
  position: relative;
}