.container-fluid {
    background: #000;
}

nav {
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  color: #fff;
}

nav,
nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

nav ul li {
  display: inline;
  float: left;
  margin: 0 5px 0 0;
  padding: 10px;
}

nav ul li a {
  display: block;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: #fff;
  padding: 15px 20px;
}

nav ul li a:hover{
  background: #6495ED;;
}

navbar-toggle collapsed {
    background: #000;
}

navbar-toggle {
    background: #000;
    color: #000;
}