<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
                <button type="button" 
                        class="navbar-toggle collapsed"
                        (click)="toggleState()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <img src="http://placehold.it/200x200" alt="logo" width="15%" />
            </div>
            <a routerLink="/">Angular2 template</a>
        </div>
         <div class="collapse navbar-collapse"
              [ngClass]="{ 'in': isIn }">
            <ul class="nav navbar-nav">
            <li class="home">
                <a routerLink="/">Home</a>
            </li>
            <li class="about">
                <a routerLink="/about">About</a>
            </li>
            <li  *ngIf="(af.auth | async)">
                <a routerLink="/news">News</a>
            </li>
            <li  *ngIf="(af.auth | async)">
                <a routerLink="/gallery">Gallery</a>
            </li>
            <li  *ngIf="(af.auth | async)">
                <a routerLink="/listings">Listings</a>
            </li>
            <li  *ngIf="(af.auth | async)">
                <a routerLink="/admin">Admin</a>
            </li>
            <!--<li *ngIf="!(af.auth | async)">
                <a routerLink="/login">Log In</a>
            </li>-->
            <!--<li>
                <a routerLink="/login">Log In</a>
            </li>-->
            <li>
                <a routerLink="/contact">Contact</a>
            </li>
            </ul>
            <ul class="nav navbar-nav">
                <li *ngIf="!(af.auth | async)">
                    <a (click)="login()">Login</a>
                </li>
                <li *ngIf="(af.auth | async)">
                    <a (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>